.app {
  /* background-color: blue; */
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #2a3146;
}

.list, .control, .input {
  width: 80%;
  /* background-color: brown; */
  margin: 0 auto;
  border-radius: 25px;
  border: 1px solid #2a3146;
  margin-bottom: 15px;
}
